In [1]:
%load_ext sql

In [13]:
import sqlalchemy
import pymysql

In [2]:
%sql sqlite:///../src/main/resources/public/krusty_database_v2.db

'Connected: @../src/main/resources/public/krusty_database_v2.db'

In [25]:
%%sql

DROP TABLE IF EXISTS Customers;
DROP TABLE IF EXISTS Cookies;
DROP TABLE IF EXISTS IngredientsInCookies;
DROP TABLE IF EXISTS Ingredients;
DROP TABLE IF EXISTS Orders;
DROP TABLE IF EXISTS Pallets;


CREATE TABLE Customers(
    name TEXT PRIMARY KEY,
    address TEXT
);


INSERT INTO Customers(name, address) VALUES
('Bjudkakor AB','Ystad'),
('Finkakor AB','Helsingborg'),
('Gastkakor AB','Hassleholm'),
('Kaffebrod AB','Landskrona'),
('Kalaskakor AB','Trelleborg'),
('Partykakor AB','Kristianstad'),
('Skanekakor AB','Perstorp'),
('Smabrod AB','Malmo');


CREATE TABLE Cookies(
    name TEXT PRIMARY KEY
);

INSERT INTO Cookies(name) VALUES
('Amneris'),
('Berliner'),
('Nut cookie'),
('Nut ring'),
('Tango'),
('Almond delight');

CREATE TABLE Ingredients(
    name TEXT PRIMARY KEY,
    last_delivered_timestamp DATETIME DEFAULT CURRENT_TIMESTAMP,
    last_delivered_quantity INTEGER,
    amount INTGER,
    unit TEXT
);

INSERT INTO Ingredients(name, amount, unit) VALUES
('Bread crumbs',500000,'g'),
('Butter',500000,'g'),
('Chocolate',500000,'g'),
('Chopped almonds',500000,'g'),
('Cinnamon',500000,'g'),
('Egg whites',500000,'ml'),
('Eggs',500000,'g'),
('Fine-ground nuts',500000,'g'),
('Flour',500000,'g'),
('Ground, roasted nuts',500000,'g'),
('Icing sugar',500000,'g'),
('Marzipan',500000,'g'),
('Potato starch',500000,'g'),
('Roasted, chopped nuts',500000,'g'),
('Sodium bicarbonate',500000,'g'),
('Sugar',500000,'g'),
('Vanilla',500000,'g'),
('Vanilla sugar',500000,'g'),
('Wheat flour',500000,'g');


CREATE TABLE IngredientsInCookies(
    ingredient_name TEXT,
    cookie_name TEXT,
    quantity INTEGER,
    PRIMARY KEY(ingredient_name, cookie_name),
    FOREIGN KEY(ingredient_name) REFERENCES Ingredients(name),
    FOREIGN KEY(cookie_name) REFERENCES Cookies(name)
    
);

INSERT INTO IngredientsInCookies(cookie_name, ingredient_name, quantity) VALUES
('Nut ring','Flour', 450),
('Nut ring','Butter',450),
('Nut ring','Icing sugar',190),
('Nut ring','Roasted, chopped nuts',225),
('Nut cookie','Fine-ground nuts',625),
('Nut cookie','Ground, roasted nuts',625),
('Nut cookie','Bread crumbs',125),
('Nut cookie','Sugar',375),
('Nut cookie','Egg whites',350),
('Nut cookie','Chocolate',50),
('Amneris','Marzipan',750),
('Amneris','Butter',250),
('Amneris','Eggs',250),
('Amneris','Potato starch',25),
('Amneris','Wheat flour',25),
('Tango','Butter',200),
('Tango','Sugar',250),
('Tango','Flour',300),
('Tango','Sodium bicarbonate',4),
('Tango','Vanilla',2),
('Almond delight','Butter ',400),
('Almond delight','Sugar',270),
('Almond delight','Chopped almonds',279),
('Almond delight','Flour',400),
('Almond delight','Cinnamon',10),
('Berliner','Flour',350),
('Berliner','Butter',250),
('Berliner','Icing sugar',100),
('Berliner','Eggs',50),
('Berliner','Vanilla sugar',5),
('Berliner','Chocolate',50);


CREATE TABLE Orders(
    order_number INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    order_made_timestamp DATETIME DEFAULT (date('now')) NOT NULL,
    requested_delivery_timestamp,
    FOREIGN KEY(name) REFERENCES Customers(name)
);


CREATE TABLE Pallets(
    pallet_number INTEGER PRIMARY KEY AUTOINCREMENT,
    cookie TEXT NOT NULL,
    order_number INTERGER,
    produced_timestamp DATETIME DEFAULT (date('now')) NOT NULL,
    delivered_timestamp TEXT,
    blocked TEXT NOT NULL CHECK(blocked IN ('yes','no')),
    FOREIGN KEY(cookie) REFERENCES Cookies(name),
    FOREIGN KEY(order_number) REFERENCES Orders(order_number)
);

   sqlite:///../src/main/resources/public/krusty_database.db
 * sqlite:///../src/main/resources/public/krusty_database_v2.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
8 rows affected.
Done.
6 rows affected.
Done.
19 rows affected.
Done.
31 rows affected.
Done.
Done.

[]

In [87]:
%%sql
select * from IngredientsInCookies 
join Ingredients
on IngredientsInCookies.ingredient_name = Ingredients.name

 * sqlite:///../src/main/resources/public/krusty_database_v2.db
Done.

[('Flour', 'Nut ring', 450, 'Flour', '2020-03-23 18:23:14', None, 475700, 'g'),
 ('Butter', 'Nut ring', 450, 'Butter', '2020-03-23 18:23:13', None, 475700, 'g'),
 ('Icing sugar', 'Nut ring', 190, 'Icing sugar', '2020-03-23 18:23:14', None, 489740, 'g'),
 ('Roasted, chopped nuts', 'Nut ring', 225, 'Roasted, chopped nuts', '2020-03-23 18:23:14', None, 487850, 'g'),
 ('Fine-ground nuts', 'Nut cookie', 625, 'Fine-ground nuts', '2020-03-23 18:23:14', None, 500000, 'g'),
 ('Ground, roasted nuts', 'Nut cookie', 625, 'Ground, roasted nuts', '2020-03-23 18:23:14', None, 500000, 'g'),
 ('Bread crumbs', 'Nut cookie', 125, 'Bread crumbs', '2020-03-23 18:23:13', None, 500000, 'g'),
 ('Sugar', 'Nut cookie', 375, 'Sugar', '2020-03-23 18:23:14', None, 500000, 'g'),
 ('Egg whites', 'Nut cookie', 350, 'Egg whites', '2020-03-23 18:23:13', None, 500000, 'ml'),
 ('Chocolate', 'Nut cookie', 50, 'Chocolate', '2020-03-23 18:23:13', None, 500000, 'g'),
 ('Marzipan', 'Amneris', 750, 'Marzipan', '2020-03-23 18:23:14', None, 500000, 'g'),
 ('Butter', 'Amneris', 250, 'Butter', '2020-03-23 18:23:13', None, 475700, 'g'),
 ('Eggs', 'Amneris', 250, 'Eggs', '2020-03-23 18:23:14', None, 500000, 'g'),
 ('Potato starch', 'Amneris', 25, 'Potato starch', '2020-03-23 18:23:14', None, 500000, 'g'),
 ('Wheat flour', 'Amneris', 25, 'Wheat flour', '2020-03-23 18:23:15', None, 500000, 'g'),
 ('Butter', 'Tango', 200, 'Butter', '2020-03-23 18:23:13', None, 475700, 'g'),
 ('Sugar', 'Tango', 250, 'Sugar', '2020-03-23 18:23:14', None, 500000, 'g'),
 ('Flour', 'Tango', 300, 'Flour', '2020-03-23 18:23:14', None, 475700, 'g'),
 ('Sodium bicarbonate', 'Tango', 4, 'Sodium bicarbonate', '2020-03-23 18:23:14', None, 500000, 'g'),
 ('Vanilla', 'Tango', 2, 'Vanilla', '2020-03-23 18:23:14', None, 500000, 'g'),
 ('Sugar', 'Almond delight', 270, 'Sugar', '2020-03-23 18:23:14', None, 500000, 'g'),
 ('Chopped almonds', 'Almond delight', 279, 'Chopped almonds', '2020-03-23 18:23:13', None, 500000, 'g'),
 ('Flour', 'Almond delight', 400, 'Flour', '2020-03-23 18:23:14', None, 475700, 'g'),
 ('Cinnamon', 'Almond delight', 10, 'Cinnamon', '2020-03-23 18:23:13', None, 500000, 'g'),
 ('Flour', 'Berliner', 350, 'Flour', '2020-03-23 18:23:14', None, 475700, 'g'),
 ('Butter', 'Berliner', 250, 'Butter', '2020-03-23 18:23:13', None, 475700, 'g'),
 ('Icing sugar', 'Berliner', 100, 'Icing sugar', '2020-03-23 18:23:14', None, 489740, 'g'),
 ('Eggs', 'Berliner', 50, 'Eggs', '2020-03-23 18:23:14', None, 500000, 'g'),
 ('Vanilla sugar', 'Berliner', 5, 'Vanilla sugar', '2020-03-23 18:23:15', None, 500000, 'g'),
 ('Chocolate', 'Berliner', 50, 'Chocolate', '2020-03-23 18:23:13', None, 500000, 'g')]

In [86]:
%%sql
update Ingredients
SET amount = (amount - (SELECT quantity
              FROM IngredientsInCookies
              WHERE (Ingredients.name = IngredientsInCookies.ingredient_name)
              AND (IngredientsInCookies.cookie_name = 'Nut ring')
                      ) * 54)
WHERE EXISTS (SELECT *
              FROM IngredientsInCookies
              WHERE (Ingredients.name = IngredientsInCookies.ingredient_name)
                AND (IngredientsInCookies.cookie_name = 'Nut ring'));

 * sqlite:///../src/main/resources/public/krusty_database_v2.db
4 rows affected.

[]

In [89]:
%%sql
select * from pallets

 * sqlite:///../src/main/resources/public/krusty_database_v2.db
Done.

[(119, 'Nut ring', 119, '2020-03-23', None, 'no'),
 (120, 'Nut ring', 120, '2020-03-23', None, 'no'),
 (121, 'Tango', 121, '2020-03-23', None, 'no'),
 (122, 'Amneris', 122, '2020-03-23', None, 'no'),
 (123, 'Amneris', 123, '2020-03-23', None, 'no'),
 (124, 'Amneris', 124, '2020-03-23', None, 'no'),
 (125, 'Berliner', 125, '2020-03-23', None, 'no'),
 (126, 'Nut cookie', 126, '2020-03-23', None, 'no'),
 (127, 'Berliner', 127, '2020-03-23', None, 'no')]